<form action="/cookieCreation" method="post">
    <input name="user"><br>
    <input name="email"><br>
    <button type="submit">Submit</button>
</form>

{{!-- <form action="/cookieCreation" method="post">
    <label for="userName">User name
    </label>
    <input id="userName" name="userName" type="text" />
    <label for="email">Email</label>
    <input id="email" name="email" type="text" />
    <button type="submit">submit</button>
  </form> --}}