<h1>Recupera tu contraseña</h1>
<form id="recoverForm">
    <label>Correo electrónico</label>
    <input name="email">
    <label>Contraseña</label>
    <input type="password" name="password">
    <input type="submit">
</form>
<p>Inicia sesion
<a href="/login">Aquí</a></p>
<script src="./js/recover.js"></script>