<link rel="stylesheet" href="/css/styles.css">
<header>
    <div style="display: none;" id="token">{{token}}</div>
    <div></div>
    <h1>Recuperar contraseña</h1>
    <div></div>
</header>
<main>
    {{#if hasExpired}}
        <h1>El link ha expirado</h1>
        <h3>Ve a <a href="/recover">recuperar contraseña</a> para crear otro link</h3>
    {{else}}
        <form id="recoverForm" class="form">
            <div class="formOrder">
                <label>Nueva contraseña</label>
                <input type="password" name="password" id="passwordInput">
            </div>
            <button type="submit" class="submit">Enviar</button>
        </form>
    {{/if}}
</main>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/recoverLanding.js"></script>