<section style="height: 100vh; width: 100vw; background: #000; margin: 0; padding: 0;">
    <h1 style="text-decoration: none; margin: 0; padding: 0;">La página a la que tratas de ir no existe, intenta <a href="/login" style="color:rgb(144, 206, 0)">iniciando sesión</a> o yendo a la <a href="/" style="color:rgb(144, 206, 0)">página principal</a></h1>
</section>
<link rel="stylesheet" href="/css/styles.css">