<link rel="stylesheet" href="/css/styles.css">
<header>
    <div></div>
    <h1>Recupera tu contraseña</h1>
    <div></div>
</header>
<main>
    <form id="recoverForm" class="form">
        <div class="formOrder">
            <label>Correo electrónico</label>
            <input name="email">
        </div>
        <button type="submit" class="submit">Enviar</button>
    </form>
    <div class="switch">
        <p>Inicia sesion <a href="/login">aquí</a></p>
    </div>
</main>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./js/recover.js"></script>