<link rel="stylesheet" href="/css/styles.css">
<header>
    <div></div>
    <h1>Crea tu cuenta</h1>
    <div></div>
</header>
<main>
    <form action="" method="post" id="registerForm" class="form">
        <div class="formOrder">
            <p class="formText">Nombre</p> <input type="text" name="first_name">
            <p class="formText">Apellido</p> <input type="text" name="last_name">
            <p class="formText">Edad</p> <input type="number" name="age">
            <p class="formText">Correo electrónico</p> <input type="email" name="email">
            <p class="formText">Contraseña</p> <input type="password" name="password">
        </div>
        <button type="submit" class="submit">Crear cuenta</button>
    </form>
    <div class="switch">
        <p>Inicia sesión <a href="/login">aqui</a></p>
    </div>
</main>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>