<main>
    <form id="form">
        <input type="text" name="email" placeholder="Usuario">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="submit" value="Submit">
    </form>
</main>
<script src="/js/login.js"></script>