<main>
    <form id="form">
        <input type="text" name="user" placeholder="Usuario">
        <input type="password" name="password" placeholder="Contraseña">
    </form>
</main>
<script src="/js/login.js"></script>